@media (max-width: 860px) {
  .come-back__link {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .navbar-header {
    text-align: center;
    padding: 26px 0 16px;
    float: none;
  }
}
@media (max-width: 992px) {
  .navbar-brand {
    float: none;
    display: block;
    line-height: 36px;
    height: 36px;
  }
}
@media (min-width: 992px) {
  .navbar-brand img {
    height: 36px;
    margin-top: 10px;
  }
}
@media (max-width: 992px) {
  .navbar-brand img {
    height: 100%;
  }
}
@media (min-width: 992px) {
  .welcome-menu {
    float: right;
  }
}
@media (max-width: 992px) {
  .welcome-menu {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 992px) {
  .welcome-menu-item {
    text-align: center;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .welcome-menu-item__link {
    padding: 5px;
  }
}
@media (max-width: 992px) {
  .welcome-menu-item__link {
    padding: 0 0 10px 0 !important;
    font-size: 16px !important;
    line-height: 19px !important;
  }
}
@media (max-width: 860px) {
  .sign {
    padding: 15px;
  }
}
@media (max-width: 800px) {
  .sign-wrapper {
    margin: 0 auto;
  }
}
@media (max-width: 860px) {
  .sign table {
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) {
  .sign__bg {
    width: 350px;
  }
}
@media (max-width: 800px) {
  .sign__bg {
    display: none;
  }
}
@media (max-width: 860px) {
  .sign-form {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .footer {
    height: 125px;
    padding-top: 20px;
    margin-top: -125px;
    line-height: 25px;
  }
}
@media (max-width: 992px) {
  .footer ul {
    text-align: center;
    float: none;
  }
}
@media (max-width: 992px) {
  .footer ul li {
    display: block;
    padding: 0;
    line-height: inherit;
  }
}
@media (max-width: 992px) {
  .footer ul li a {
    font-size: 14px !important;
  }
}
@media (max-width: 992px) {
  .copyright {
    text-align: center;
  }
}
@media (max-width: 860px) {
  #wrapper {
    padding-bottom: 125px;
  }
}
@media (max-width: 992px) {
  .header-top-menu {
    padding-left: 0;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .header-top-menu__item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 860px) {
  .header-top-menu__item {
    padding-left: 0;
  }
}
