<ul class="welcome-menu {{ class|default:'' }}">
  <li class="welcome-menu-item{% if usertype == 1 %} active{% endif %}">
    <a href="{% url 'cabinet:welcome' %}?usertype=1" class="welcome-menu-item__link">Вход для администратора</a>
  </li>
  <li class="welcome-menu-item{% if usertype == 2 %} active{% endif %}">
    <a href="{% url 'cabinet:welcome' %}?usertype=2" class="welcome-menu-item__link">Вход для вебмастера</a>
  </li>
  <li class="welcome-menu-item{% if usertype == 3 %} active{% endif %}">
    <a href="{% url 'cabinet:welcome' %}?usertype=3" class="welcome-menu-item__link">Вход для сео специалиста</a>
  </li>
</ul>