<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=no">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>OnlineStipClub.pro - смотрите жизнь за кулисами</title>
	<link media="all" rel="stylesheet" type="text/css" href="css/all.css" />
	<link media="all" rel="stylesheet" type="text/css" href="css/jquery.fancybox.css" />
	<link media="all" rel="stylesheet" type="text/css" href="css/jquery.bxslider.css" />
	<link media="all" rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
	<link media="all" rel="stylesheet" type="text/css" href="css/jquery-ui.css" />
	<link media="all" rel="stylesheet" type="text/css" href="css/jquery.multiselect.css" />
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/jquery.multiselect.min.js"></script>
	<script src="js/jquery.uniform.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.bxslider.min.js"></script>
	<script src="js/jquery.fancybox.js"></script>
	<script src="js/jquery.validate.js"></script>
	<script src="js/jquery.scrollTo.js"></script>
	<script src="js/tabs.js"></script>
	<script src="js/all.js"></script>
	<!--[if lt IE 9]><script type="text/javascript" src="js/html5.js"></script><![endif]-->
	<!--[if lt IE 9]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->
</head>
<body>
	<div id="wrapper">
		<header id="header">		
			<div class="header-top">
				<div class="holder">
					<div class="logo">
						<img src="images/logo.png" alt="" class="logo-img">
						<span class="logo-text">OnlineStipClub<span class="pink">.pro</span></span>
						<span class="logo-text-min">смотрите жизнь <span class="pink">за кулисами</span></span>
					</div>
					<div class="header-links">
						<a href="" class="header-link">Афиша</a>
						<div class="header-about">
							<a href="" class="header-link-about">О клубе</a>
							<ul class="header-about-hidden">
								<li><a href="">Наши девушки</a></li>
								<li><a href="">Интерьеры клуба</a></li>
								<li><a href="">Меню</a></li>
							</ul>
						</div>
						<a href="#enter-popup" class="header-enter blue-fancy">Вход</a>
					</div>
					<a href="" class="nav-icon"><img src="images/nav-icon.png" alt=""></a>
				</div>
			</div>
		</header>
		<section class="main-section">
			<div class="holder">
				<div class="title-block">
					<a href="" class="title-back">Вернутся к трансляции главной сцены</a>
					<h2>Наши девушки</h2>
				</div>
				<div class="gallery">
					<a href="images/media/gallery/1_b.jpg" class="gallery-item fancybox" data-fancybox-group="gal" title="Фото 1 из 45"><img src="images/media/gallery/1.jpg" alt=""></a>
					<a href="images/media/gallery/1_b.jpg" class="gallery-item fancybox" data-fancybox-group="gal" title="Фото 2 из 45"><img src="images/media/gallery/2.jpg" alt=""></a>
					<a href="images/media/gallery/3.jpg" class="gallery-item fancybox" data-fancybox-group="gal" title="Фото 3 из 45"><img src="images/media/gallery/3.jpg" alt=""></a>
					<a href="images/media/gallery/4.jpg" class="gallery-item fancybox" data-fancybox-group="gal" title="Фото 4 из 45"><img src="images/media/gallery/4.jpg" alt=""></a>
					<a href="images/media/gallery/5.jpg" class="gallery-item fancybox" data-fancybox-group="gal"><img src="images/media/gallery/5.jpg" alt=""></a>
					<a href="images/media/gallery/6.jpg" class="gallery-item fancybox" data-fancybox-group="gal"><img src="images/media/gallery/6.jpg" alt=""></a>
					<a href="images/media/gallery/7.jpg" class="gallery-item fancybox" data-fancybox-group="gal"><img src="images/media/gallery/7.jpg" alt=""></a>
					<a href="images/media/gallery/8.jpg" class="gallery-item fancybox" data-fancybox-group="gal"><img src="images/media/gallery/8.jpg" alt=""></a>
					<a href="images/media/gallery/1.jpg" class="gallery-item fancybox" data-fancybox-group="gal"><img src="images/media/gallery/1.jpg" alt=""></a>
					<a href="images/media/gallery/2.jpg" class="gallery-item fancybox" data-fancybox-group="gal"><img src="images/media/gallery/2.jpg" alt=""></a>
					<a href="images/media/gallery/3.jpg" class="gallery-item fancybox" data-fancybox-group="gal"><img src="images/media/gallery/3.jpg" alt=""></a>
					<a href="images/media/gallery/4.jpg" class="gallery-item fancybox" data-fancybox-group="gal"><img src="images/media/gallery/4.jpg" alt=""></a>
					<a href="images/media/gallery/5.jpg" class="gallery-item fancybox" data-fancybox-group="gal"><img src="images/media/gallery/5.jpg" alt=""></a>
					<a href="images/media/gallery/6.jpg" class="gallery-item fancybox" data-fancybox-group="gal"><img src="images/media/gallery/6.jpg" alt=""></a>
					<a href="images/media/gallery/7.jpg" class="gallery-item fancybox" data-fancybox-group="gal"><img src="images/media/gallery/7.jpg" alt=""></a>
					<a href="images/media/gallery/8.jpg" class="gallery-item fancybox" data-fancybox-group="gal"><img src="images/media/gallery/8.jpg" alt=""></a>
				</div>
				<div class="button-holder">
					<a href="" class="button">Показать ещё</a>
				</div>
			</div>
		</section>
	</div>
	<footer id="footer">
		<div class="holder">
			<div class="footer-webs mob-webs">
				<a href="" class="web1"></a>
				<a href="" class="web2"></a>
				<a href="" class="web3"></a>
			</div>
			<div class="footer-links">
				<a href="">Тарифы</a> 
				<a href="">Условия</a>
				<a href="">Политика конфиденциальности</a>
			</div>
			<div class="footer-webs mob-hide">
				<a href="" class="web1"></a>
				<a href="" class="web2"></a>
				<a href="" class="web3"></a>
			</div>
			<div class="footer-copy">
				<div class="footer-copy-num">18+</div>
				<div class="footer-copy-text">Информация на сайте <span class="pink">www.OnlineStipClub.pro</span> предназначена для лиц старше 18 лет</div>
			</div>
		</div>
	</footer>
	<div id="enter-popup" class="enter-popup">
		<div class="enter-popup-title">Войдите в ваш аккаунт</div>
		<form action="">
			<fieldset>
				<input name="" type="text" class="input input-login" placeholder="Введите ваш логин">
				<input name="" type="text" class="input input-email" placeholder="Введите ваш email">
				<button class="submit">Войти</button>
				<div class="enter-popup-text">У вас еще нет аккуанта? <br><a href="">Зарегистрироваться</a></div>
			</fieldset>
		</form>
	</div>
</body>
</html>