{% extends 'landing/base_site.html' %}
{% load staticfiles %}
{% block content %}
    <section class="main-section">
      <div class="holder">
        <div class="title-block">
          <a href="" class="title-back">Вернутся к трансляции главной сцены</a>
          <h2>Наши девушки</h2>
        </div>
        <div class="gallery">
          <a href="{% static 'landing/images/media/gallery/1_b.jpg' %}" class="gallery-item fancybox" data-fancybox-group="gal" title="Фото 1 из 45"><img src="{% static 'landing/images/media/gallery/1.jpg' %}" alt=""></a>
          <a href="{% static 'landing/images/media/gallery/1_b.jpg' %}" class="gallery-item fancybox" data-fancybox-group="gal" title="Фото 2 из 45"><img src="{% static 'landing/images/media/gallery/2.jpg' %}" alt=""></a>
          <a href="{% static 'landing/images/media/gallery/3.jpg' %}" class="gallery-item fancybox" data-fancybox-group="gal" title="Фото 3 из 45"><img src="{% static 'landing/images/media/gallery/3.jpg' %}" alt=""></a>
          <a href="{% static 'landing/images/media/gallery/4.jpg' %}" class="gallery-item fancybox" data-fancybox-group="gal" title="Фото 4 из 45"><img src="{% static 'landing/images/media/gallery/4.jpg' %}" alt=""></a>
          <a href="{% static 'landing/images/media/gallery/5.jpg' %}" class="gallery-item fancybox" data-fancybox-group="gal"><img src="{% static 'landing/images/media/gallery/5.jpg' %}" alt=""></a>
          <a href="{% static 'landing/images/media/gallery/6.jpg' %}" class="gallery-item fancybox" data-fancybox-group="gal"><img src="{% static 'landing/images/media/gallery/6.jpg' %}" alt=""></a>
          <a href="{% static 'landing/images/media/gallery/7.jpg' %}" class="gallery-item fancybox" data-fancybox-group="gal"><img src="{% static 'landing/images/media/gallery/7.jpg' %}" alt=""></a>
          <a href="{% static 'landing/images/media/gallery/8.jpg' %}" class="gallery-item fancybox" data-fancybox-group="gal"><img src="{% static 'landing/images/media/gallery/8.jpg' %}" alt=""></a>
          <a href="{% static 'landing/images/media/gallery/1.jpg' %}" class="gallery-item fancybox" data-fancybox-group="gal"><img src="{% static 'landing/images/media/gallery/1.jpg' %}" alt=""></a>
          <a href="{% static 'landing/images/media/gallery/2.jpg' %}" class="gallery-item fancybox" data-fancybox-group="gal"><img src="{% static 'landing/images/media/gallery/2.jpg' %}" alt=""></a>
          <a href="{% static 'landing/images/media/gallery/3.jpg' %}" class="gallery-item fancybox" data-fancybox-group="gal"><img src="{% static 'landing/images/media/gallery/3.jpg' %}" alt=""></a>
          <a href="{% static 'landing/images/media/gallery/4.jpg' %}" class="gallery-item fancybox" data-fancybox-group="gal"><img src="{% static 'landing/images/media/gallery/4.jpg' %}" alt=""></a>
          <a href="{% static 'landing/images/media/gallery/5.jpg' %}" class="gallery-item fancybox" data-fancybox-group="gal"><img src="{% static 'landing/images/media/gallery/5.jpg' %}" alt=""></a>
          <a href="{% static 'landing/images/media/gallery/6.jpg' %}" class="gallery-item fancybox" data-fancybox-group="gal"><img src="{% static 'landing/images/media/gallery/6.jpg' %}" alt=""></a>
          <a href="{% static 'landing/images/media/gallery/7.jpg' %}" class="gallery-item fancybox" data-fancybox-group="gal"><img src="{% static 'landing/images/media/gallery/7.jpg' %}" alt=""></a>
          <a href="{% static 'landing/images/media/gallery/8.jpg' %}" class="gallery-item fancybox" data-fancybox-group="gal"><img src="{% static 'landing/images/media/gallery/8.jpg' %}" alt=""></a>
        </div>
        <div class="button-holder">
          <a href="" class="button">Показать ещё</a>
        </div>
      </div>
    </section>
{% endblock %}