{% extends 'landing/base_site.html' %}
{% load static %}
{% block top_js %}
  {% if user.is_authenticated %}
  {% else %}
    <script type="text/javascript">

{#      var redirectUrl = {% url 'landing:pleaseregister' %};#}
{#		  setTimeout('location.replace(redirectUrl)', 30000);#}
	  </script>
  {% endif %}
{% endblock %}
{% block content %}
    <section class="main-block">
      <div class="holder">
        <div class="main-content">
          <div class="main-camera">
            <div class="main-camera-top">
              <a href="" class="main-camera-link active">
                <span class="main-camera-link-icon">
                  <img src="{% static 'landing/images/cam-icon.png' %}" alt="">
                </span>
                <span class="main-camera-link-text"><span class="mob-hide">Камера </span>1</span>
              </a>
              <a href="" class="main-camera-link">
                <span class="main-camera-link-icon">
                  <img src="{% static 'landing/images/cam-icon.png' %}" alt="">
                </span>
                <span class="main-camera-link-text"><span class="mob-hide">Камера </span>2</span>
              </a>
              <a href="" class="main-camera-link">
                <span class="main-camera-link-icon">
                  <img src="{% static 'landing/images/cam-icon.png' %}" alt="">
                </span>
                <span class="main-camera-link-text"><span class="mob-hide">Камера </span>3</span>
              </a>
            </div>
            <div class="main-camera-video">
              <div class="main-camera-age">18+</div>
              <div class="main-camera-status">
                <a href="" class="main-camera-online active">On-line</a>
                <a href="" class="main-camera-record">Запись</a>
              </div>
              <video controls loop="loop">
                <source src="{% static 'landing/video/video.mov' %}" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                <img src="{% static 'landing/images/media/video1.jpg' %}" alt="">
              </video>
            </div>
          </div>
        </div>
        <aside class="main-side">
          {% if user.is_authenticated %}
          <div class="main-chat">
            <div class="main-chat-content">
              <div class="main-chat-list">
                <div class="main-chat-item">
                  <div class="main-chat-name">Александр</div>
                  <div class="main-chat-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo</div>
                </div>
                <div class="main-chat-item model-message">
                  <div class="main-chat-name">Ирина</div>
                  <div class="main-chat-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                </div>
                <div class="main-chat-item">
                  <div class="main-chat-name">Александр</div>
                  <div class="main-chat-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
                </div>
                <div class="main-chat-item">
                  <div class="main-chat-name">Александр</div>
                  <div class="main-chat-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo</div>
                </div>
                <div class="main-chat-item model-message">
                  <div class="main-chat-name">Ирина</div>
                  <div class="main-chat-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                </div>
                <div class="main-chat-item">
                  <div class="main-chat-name">Александр</div>
                  <div class="main-chat-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
                </div>
              </div>
              <div class="main-chat-status">Ирина печатает ...</div>
            </div>
            <div class="main-chat-input">
              <form action="">
                <fieldset>
                  <input name="" type="text" class="input" placeholder=" Ваше сообщение...">
                  <button class="chat-submit"></button>
                </fieldset>
              </form>
            </div>
          </div>
          {% else %}
          <div class="main-side-block">
            <div class="main-form-title">
              <span class="main-form-title1">Создайте </span>
              <span class="main-form-title2">БЕСПЛАТНЫЙ</span>
              аккаунт и получите
            </div>
            <ul class="main-form-list">
              <li>Неограниченный просмотр главной сцены;</li>
              <li>Доступ к чату для общения;</li>
              <li>Доступ к закулисным камерам;</li>
            </ul>
            <div class="main-form">
              <form action="">
                <fieldset>
                  <input name="" type="text" class="input input-login" placeholder="Введите ваш логин">
                  <input name="" type="text" class="input input-email" placeholder="Введите ваш email">
                  <button class="submit">Создать аккаунт</button>
                  <div class="check-block">
                    <input name="" id="check1" type="checkbox" class="check" checked>
                    <label for="check1" class="check-label">Я соглашаюсь с <a href="">правилами сайта</a></label>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
          <a href="#popup5" class="submit black-fancy">Создать аккаунт</a>
          {% endif %}
        </aside>
      </div>
    </section>
    <section class="camera-block">
      <div class="holder">
        <div class="camera-holder">
          <div class="camera-item">
            <div class="camera-item-video">
              <div class="main-camera-age">18+</div>
              <a href="" class="camera-overlay">
                <span class="camera-overlay-icon"></span>
              </a>

              <!-- картинка для верстки -->
              <img src="{% static 'landing/images/media/c1.jpg' %}" alt="">
              <!-- картинка для верстки -->

            </div>
            <div class="camera-item-name">Камера 1</div>
          </div>
          <div class="camera-item">
            <div class="camera-item-video">
              <div class="main-camera-age">18+</div>
              <a href="" class="camera-overlay locked">
                <span class="camera-overlay-icon"></span>
              </a>

              <!-- картинка для верстки -->
              <img src="{% static 'landing/images/media/c2.jpg' %}" alt="">
              <!-- картинка для верстки -->

            </div>
            <div class="camera-item-name">Камера 2</div>
          </div>
          <div class="camera-item">
            <div class="camera-item-video">
              <div class="main-camera-age">18+</div>
              <a href="" class="camera-overlay locked">
                <span class="camera-overlay-icon"></span>
              </a>

              <!-- картинка для верстки -->
              <img src="{% static 'landing/images/media/c3.jpg' %}" alt="">
              <!-- картинка для верстки -->

            </div>
            <div class="camera-item-name">Камера 3</div>
          </div>
        </div>
      </div>
    </section>
{% if user.is_authenticated %}
<a href="#popup2" class="button black-fancy renew-filter" style="display: none;">Продлить подписку</a>
<div id="popup2" class="black-popup">
  <div class="black-popup-title white">Нажмите на кнопку,<br> чтобы продлить вашу подписку</div>
  <div class="black-popup-buttons">
    <a href="#popup4" class="green-button black-fancy close-fancybox">Продлить подписку</a>
  </div>
</div>
<div id="popup4" class="black-popup">
  <form action="" class="popup-pay">
    <fieldset>
      <div class="black-popup-title white">1. Выберите способ оплаты</div>
      <div class="pay-choice">
        <label class="pay-item active" for="pay_r1">
          <input type="radio" class="pay-radio" name="pay-choice" id="pay_r1" checked>
          <img src="{% static 'landing/images/media/pay1.png' %}" alt="">
        </label>
        <label class="pay-item" for="pay_r2">
          <input type="radio" class="pay-radio" name="pay-choice" id="pay_r2">
          <img src="{% static 'landing/images/media/pay2.png' %}" alt="">
        </label>
        <label class="pay-item" for="pay_r3">
          <input type="radio" class="pay-radio" name="pay-choice" id="pay_r3">
          <img src="{% static 'landing/images/media/pay3.png' %}" alt="">
        </label>
        <label class="pay-item" for="pay_r4">
          <input type="radio" class="pay-radio" name="pay-choice" id="pay_r4">
          <img src="{% static 'landing/images/media/pay4.png' %}" alt="">
        </label>
      </div>
      <div class="black-popup-title white">2. Выберите пакет подписки</div>
      <div class="pay-package">
        <div class="pay-package-item">
          <input type="radio" class="radio" name="pay-package" id="pack_r1" checked>
          <label class="package-label" for="pack_r1">Lite пакет на 1 месяц за 1000 руб.</label>
        </div>
        <div class="pay-package-item">
          <input type="radio" class="radio" name="pay-package" id="pack_r2">
          <label class="package-label" for="pack_r2">Стандартный пакет на 3 месяца за 3000 руб.</label>
        </div>
        <div class="pay-package-item">
          <input type="radio" class="radio" name="pay-package" id="pack_r3">
          <label class="package-label" for="pack_r3">VIP пакет на 6 месяцев за 6000 руб.</label>
        </div>
      </div>
      <div class="pay-coupon">
        <div class="pay-coupon-text">Если у вас есть купон, введи его код тут:</div>
        <div class="pay-coupon-input">
          <input name="" type="text" class="input" placeholder="Введите ваш логин">
        </div>
      </div>
      <div class="black-popup-buttons">
        <button class="green-button close-fancybox">Оплатить сейчас</button>
      </div>
    </fieldset>
  </form>
</div>
{% else %}
  <a href="#popup1" class="button black-fancy-child child_filter" style="display: none;">Фильтр от детей</a>
  <div id="popup1" class="black-popup">
		<div class="black-popup-title">Вам уже исполнилось 18 лет?</div>
		<div class="black-popup-text black-popup-text-min">Этот сайт предназначен  для возрастной категории 18+</div>
		<div class="black-popup-buttons">
			<a href="#" class="blue-button">да</a>
			<a href="" class="red-button">нет</a>
		</div>
	</div>
{% endif %}
{% endblock %}
