{% extends 'landing/base_site.html' %}
{% load staticfiles %}
{% block content %}
		<section class="main-section">
			<div class="holder">
				<div class="title-block">
					<a href="{% url 'landing:index' %}" class="title-back">Вернутся к трансляции главной сцены</a>
					<h2>Меню</h2>
				</div>
			</div>	
			<div class="menu-section">
				<div class="holder">
					<div class="menu-block">
						<div class="menu-top">
							<div class="menu-top-icon"></div>
							<div class="menu-top-text">Кухня</div>
						</div>
						<div class="menu-hidden">
							<div class="menu-item">
								<h3>Аперитивы</h3>
								<div class="menu-list">
									<div class="menu-list-item">
										<div class="menu-list-name">CAMPARI BITTER</div>
										<div class="menu-list-volume">50 ML / 750 ML / 1L</div>
										<div class="menu-list-price">200 РУБ. /3 000 РУБ. /4 000 РУБ</div>
									</div>
								</div>
							</div>
							<div class="menu-item">
								<h3>Вермуты</h3>
								<div class="menu-list">
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI BIANCO</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI EXTRA DRY</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI ROSSO</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI ROSATO</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
								</div>
							</div>
							<div class="menu-item">
								<h3>Аперитивы</h3>
								<div class="menu-list">
									<div class="menu-list-item">
										<div class="menu-list-name">CAMPARI BITTER</div>
										<div class="menu-list-volume">50 ML / 750 ML / 1L</div>
										<div class="menu-list-price">200 РУБ. /3 000 РУБ. /4 000 РУБ</div>
									</div>
								</div>
							</div>
							<div class="menu-item">
								<h3>Вермуты</h3>
								<div class="menu-list">
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI BIANCO</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI EXTRA DRY</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI ROSSO</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI ROSATO</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="menu-block">
						<div class="menu-top">
							<div class="menu-top-icon"></div>
							<div class="menu-top-text">Бар</div>
						</div>
						<div class="menu-hidden">
							<div class="menu-item">
								<h3>Аперитивы</h3>
								<div class="menu-list">
									<div class="menu-list-item">
										<div class="menu-list-name">CAMPARI BITTER</div>
										<div class="menu-list-volume">50 ML / 750 ML / 1L</div>
										<div class="menu-list-price">200 РУБ. /3 000 РУБ. /4 000 РУБ</div>
									</div>
								</div>
							</div>
							<div class="menu-item">
								<h3>Вермуты</h3>
								<div class="menu-list">
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI BIANCO</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI EXTRA DRY</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI ROSSO</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI ROSATO</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
								</div>
							</div>
							<div class="menu-item">
								<h3>Аперитивы</h3>
								<div class="menu-list">
									<div class="menu-list-item">
										<div class="menu-list-name">CAMPARI BITTER</div>
										<div class="menu-list-volume">50 ML / 750 ML / 1L</div>
										<div class="menu-list-price">200 РУБ. /3 000 РУБ. /4 000 РУБ</div>
									</div>
								</div>
							</div>
							<div class="menu-item">
								<h3>Вермуты</h3>
								<div class="menu-list">
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI BIANCO</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI EXTRA DRY</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI ROSSO</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI ROSATO</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="menu-block">
						<div class="menu-top">
							<div class="menu-top-icon"></div>
							<div class="menu-top-text">Шоу</div>
						</div>
						<div class="menu-hidden">
							<div class="menu-item">
								<h3>Аперитивы</h3>
								<div class="menu-list">
									<div class="menu-list-item">
										<div class="menu-list-name">CAMPARI BITTER</div>
										<div class="menu-list-volume">50 ML / 750 ML / 1L</div>
										<div class="menu-list-price">200 РУБ. /3 000 РУБ. /4 000 РУБ</div>
									</div>
								</div>
							</div>
							<div class="menu-item">
								<h3>Вермуты</h3>
								<div class="menu-list">
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI BIANCO</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI EXTRA DRY</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI ROSSO</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI ROSATO</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
								</div>
							</div>
							<div class="menu-item">
								<h3>Аперитивы</h3>
								<div class="menu-list">
									<div class="menu-list-item">
										<div class="menu-list-name">CAMPARI BITTER</div>
										<div class="menu-list-volume">50 ML / 750 ML / 1L</div>
										<div class="menu-list-price">200 РУБ. /3 000 РУБ. /4 000 РУБ</div>
									</div>
								</div>
							</div>
							<div class="menu-item">
								<h3>Вермуты</h3>
								<div class="menu-list">
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI BIANCO</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI EXTRA DRY</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI ROSSO</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
									<div class="menu-list-item">
										<div class="menu-list-name">MARTINI ROSATO</div>
										<div class="menu-list-volume">50ML / 1L</div>
										<div class="menu-list-price">150 РУБ. / 3 000 РУБ</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}