{% extends 'landing/base_site.html' %}
{% load static %}
{% block top_js %}
  {% if user.is_authenticated %}
    <script type="text/javascript">

{#      var redirectUrl = {% url 'landing:pleaseregister' %};#}
		  location.replace("/");
	  </script>
  {% endif %}
{% endblock %}
{% block content %}
		<section class="main-block">
			<div class="holder">
				<div class="main-content">
					<div class="main-camera">
						<div class="main-camera-top">
							<a href="" class="main-camera-link active">
								<span class="main-camera-link-icon">
									<img src="{% static 'landing/images/cam-icon.png' %}" alt="">
								</span>
								<span class="main-camera-link-text"><span class="mob-hide">Камера </span>1</span>
							</a>
							<a href="" class="main-camera-link">
								<span class="main-camera-link-icon">
									<img src="{% static 'landing/images/cam-icon.png' %}" alt="">
								</span>
								<span class="main-camera-link-text"><span class="mob-hide">Камера </span>2</span>
							</a>
							<a href="" class="main-camera-link">
								<span class="main-camera-link-icon">
									<img src="{% static 'landing/images/cam-icon.png' %}" alt="">
								</span>
								<span class="main-camera-link-text"><span class="mob-hide">Камера </span>3</span>
							</a>
						</div>
						<div class="main-camera-video register-now">
							<div class="main-camera-status">
								<a href="" class="main-camera-online active">On-line</a>
								<a href="" class="main-camera-record">Запись</a>
							</div>		
							<div class="register-now-block">
								<img src="{% static 'landing/images/media/banner1.jpg' %}" alt="" class="register-banner1">
								<img src="{% static 'landing/images/media/banner2.jpg' %}" alt="" class="register-banner2">
							</div>	
						</div>
					</div>
				</div>
				<aside class="main-side">
					<div class="main-side-block">
						<div class="main-form-title">
							<span class="main-form-title1">Создайте </span>
							<span class="main-form-title2">БЕСПЛАТНЫЙ</span>
							аккаунт и получите
						</div>
						<ul class="main-form-list">
							<li>Неограниченный просмотр главной сцены;</li>
							<li>Доступ к чату для общения;</li>
							<li>Доступ к закулисным камерам;</li>
						</ul>
						<div class="main-form">
							<form action="">
								<fieldset>
									<input name="" type="text" class="input input-login" placeholder="Введите ваш логин">
									<input name="" type="text" class="input input-email" placeholder="Введите ваш email">
									<button class="submit">Создать аккаунт</button>
									<div class="check-block">
										<input name="" id="check1" type="checkbox" class="check" checked>
										<label for="check1" class="check-label">Я соглашаюсь с <a href="">правилами сайта</a></label>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
					<a href="#popup5" class="submit black-fancy">Создать аккаунт</a>
				</aside>
			</div>
		</section>
		<section class="camera-block">
			<div class="holder">
				<div class="camera-holder">
					<div class="camera-item">
						<div class="camera-item-video">
							<div class="main-camera-age">18+</div>
							<a href="" class="camera-overlay">
								<span class="camera-overlay-icon"></span>
							</a>
							
							<!-- картинка для верстки -->
							<img src="{% static 'landing/images/media/c1.jpg' %}" alt="">
							<!-- картинка для верстки -->
							
						</div>
						<div class="camera-item-name">Камера 1</div>
					</div>
					<div class="camera-item">
						<div class="camera-item-video">
							<div class="main-camera-age">18+</div>
							<a href="" class="camera-overlay locked">
								<span class="camera-overlay-icon"></span>
							</a>
							
							<!-- картинка для верстки -->
							<img src="{% static 'landing/images/media/c2.jpg' %}" alt="">
							<!-- картинка для верстки -->
							
						</div>
						<div class="camera-item-name">Камера 2</div>
					</div>
					<div class="camera-item">
						<div class="camera-item-video">
							<div class="main-camera-age">18+</div>
							<a href="" class="camera-overlay locked">
								<span class="camera-overlay-icon"></span>
							</a>
							
							<!-- картинка для верстки -->
							<img src="{% static 'landing/images/media/c3.jpg' %}" alt="">
							<!-- картинка для верстки -->
							
						</div>
						<div class="camera-item-name">Камера 3</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}